[master]
port = 8086
host = "0.0.0.0"
n_jobs = 1
meta_timeout = 10

[server]
default_n = 10
api_key = ""

[database]
data_store = "mysql://gorse:gorse_pass@tcp(gorse-mysql:3306)/gorse?parseTime=true"
cache_store = "redis://gorse-redis:6379/0"

[recommend]
cache_size = 100
cache_expire = "72h"

[recommend.data_source]
positive_feedback_types = ["read", "like", "favorite"]
read_feedback_types = ["read"]
positive_feedback_ttl = 0
item_ttl = 0

[recommend.popular]
popular_window = "180"

[recommend.user_neighbors]
neighbor_type = "similar"
enable_index = true
index_recall = 0.8
index_fit_epoch = 3

[recommend.item_neighbors]
neighbor_type = "similar"
enable_index = true
index_recall = 0.8
index_fit_epoch = 3

[recommend.collaborative]
model_fit_period = "60m"
model_search_period = "360m"
model_search_epoch = 100
model_search_trials = 10
enable_model_size_search = false

[recommend.replacement]
enable_replacement = false
positive_replacement_decay = 0.8
read_replacement_decay = 0.6

[recommend.offline]
check_recommend_period = "1m"
refresh_recommend_period = "24h"
enable_latest_recommend = false
enable_popular_recommend = false
enable_user_based_recommend = true
enable_item_based_recommend = false
enable_collaborative_recommend = true
enable_click_through_prediction = false

[recommend.offline.explore_recommend]
popular = 0.3
latest = 0.1

[recommend.online]
fallback_recommend = ["latest"]
num_feedback_fallback_item_based = 10
